[View in Colaboratory](https://colab.research.google.com/github/Elenaires/Machine-Learning/blob/master/pandas/intro_to_pandas_notes.ipynb)

In [3]:
# imports pandas API and prints API version
import pandas as pd
pd.__version__

# - DataFrame, which you can imagine as a relational data table, with rows and named columns.
# - Series, which is a single column. A DataFrame contains one or more Series and a name for each Series.

#construct Series object
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([852469, 1015785, 485199])

#construct DataFrame object
cities = pd.DataFrame({'City name' : city_names, 'Population' : population})

#load file into a DataFrame
california_housing_dataframe = pd.read_csv("https://storage.googleapis.com/mledu-datasets/california_housing_train.csv", sep=",")

#show interesting stats of DataFrame
california_housing_dataframe.describe()

#show first few records of DataFrame
california_housing_dataframe.head()

#graphing - distribution of values in a column
california_housing_dataframe.hist('housing_median_age')

#accessing data
print type(cities['City name'])
cities['City name']
print type(cities['City name'][0])
cities['City name'][0]
print type(cities[0:3])
cities[0:3]

#add Series into DataFrame
cities['Area square miles'] = pd.Series([46.87, 176,53, 97.92])
cities['Population density'] = cities['Population'] / cities ['Area square miles']


#manipulating data
population / 1000

# NumPy is a toolkit for scientific computing where Pandas Series are used as argument
import numpy as np
np.log(population)
population.apply(lambda val: val > 1000000)


#Exercise1
#Modify the cities table by adding a new boolean column that is True if and only if both of the following are True:
#The city is named after a saint.
#The city has an area greater than 50 square miles.

cities['new column'] = (cities['Area square miles'] > 50) & (cities['City name'].apply(lambda name: name.startswith('San')))
cities

,City name,Population,Area square miles,Population density,new column
0,San Francisco,852469,46.87,18187.945381,False
1,San Jose,1015785,176.00,5771.505682,True
2,Sacramento,485199,53.00,9154.698113,False